*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    font-family: 'Fredoka One', cursive;
}
section{
    height: 100vh;
}
#red, header{
    background-color: red;
}
#green{
    background-color: green;
}
#yellow{
    background-color: yellow;
}
nav{
    height: 100px;
    margin-left: 78%;
    position: fixed;
    z-index: 1000;
}
li{
   display: inline-block;
   margin-right: 40px;
   margin-top: 60px;
}
a{
    text-decoration: none;
    padding:20px 20px;
    color: black;
    border-radius: 50%;
    background-color: white;
    box-shadow: 1px 1px 1px black;
}
section{
    position: relative;
}
.shoes, h1{ 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
h1{
    font-size: 40px;
    text-align: center;
    margin-top: 250px;
}
.yellow-text{
    color: yellow;
}
.green-text{
    color: green;
}

